@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Disaster Alleviation Foundation!</h1>
    <p>The Gift of the Givers Foundation is the largest disaster response non-governmental organisation of African origin on the African continent. The essence of our presence is to bring hope and restore dignity to the most vulnerable 
        .</p>
</div>
<!--<div class="text-center">
    <input type="submit" value="Report Incident" class="btn btn-primary" action="incident"/>
    <input type="submit" value="Donate" class="btn btn-primary" asp-controller="Donation" asp-action="Donation" />
</div>-->
<p style="text-align:center;"><a href="/Incident/Index" button type="submit" class="btn btn-primary btn-block" style="align-items:center">Report Incident</a></p>

<p style="text-align:center;"><a href="/Donation/Index" button type="submit" class="btn btn-primary btn-block" style="border-spacing:15px">Donate</a></p>

<p style="text-align:center;">
    <a style="text-align:center;" asp-action="LoginView" asp-controller="Login">Log Out</a>
</p>

